body{

margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
text-align:center;

}

header{

padding:20px;
background:#111;

}

.search{

padding:20px;

}

#search{

padding:12px;
width:300px;
border-radius:10px;
border:none;

}

#map{

height:600px;
width:100%;

}

@media (max-width:768px){

#search{

width:80%;

}

}