body{

margin:0;
font-family:sans-serif;
background:#0b0b0b;
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;
padding:120px 40px;

background:linear-gradient(
120deg,
#06C167,
#000
);

}

.download-btn{

background:#06C167;
padding:20px 40px;
border-radius:12px;
text-decoration:none;
color:white;
font-size:20px;

}

.phone img{

width:280px;

animation:float 4s infinite ease-in-out;

}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-20px)}
100%{transform:translateY(0)}

}

.search-section{

text-align:center;
padding:40px;

}

#search{

padding:15px;
width:300px;
border-radius:10px;
border:none;

}

#mapbox{

height:600px;
width:100%;

}

.screens{

display:flex;
justify-content:center;
gap:30px;
padding:80px;

}

.screens img{

width:220px;
border-radius:20px;
box-shadow:0 10px 40px black;

}

footer{

text-align:center;
padding:30px;

}

@media (max-width:768px){

.hero{

flex-direction:column;
text-align:center;

}

.phone img{

width:200px;

}

.screens{

flex-direction:column;
align-items:center;

}

}